.col-md-9 > h1.line-behind.text-left.emm{display:none;}

#alilogistic .tab-pane{
	padding-top: 0px;
}

#alilogistic .row,#alilogistic.row{
	margin-right: -15px;
    margin-left: -15px;
}

.pager .prev_tab,.pager .next_tab{
	cursor: pointer;
}


#deal_type_od_vehicle label,
#deal_loading_method label,
#deal_way_of_transportation label,
#deal_additional_equipment label,
#deal_req_documents label,
#deal_unloading_method label,
#deal_spec_equipment label
{
	display: block;
}


#block_route_start .form-route-select,
#block_route_end .form-route-select{
	color: #fff;
}

.form-route-selected .panel-body{
	background: #ebecef;
}


input.error{
 border-color:#f35151;
}

span.dt_error{
	color: #f35151;
}

.deal_actions{
	cursor: pointer;
}

.deal_actions_block{
	display: none;
	border: 1px solid #ddd;
    background: #fff;
    padding: 7px;
    position: absolute;
    z-index: 1;
    width: 145px;
    top: -2px;
    left: 79px;
}